@tailwind base;
@tailwind components;
.text-stroke{
    color: transparent;
    -webkit-text-stroke: 0.5px #FFF;
    font-size: 32px;
    /* padding-right:15px; */
    line-height: 1;
    text-transform: uppercase;
}

.menu-divider-vertical {
    @apply w-0.5 bg-gradient-to-b from-blue-300 via-blue-600 to-blue-950;
  }
  .menu-divider-horizontal {
    @apply w-full h-0.5 bg-gradient-to-br from-blue-300  via-blue-950 to-blue-600;
  }
.gradient-text{
    background: var(--linear, linear-gradient(229deg, #93c5fd 0%, #cc8854 44.27%, #987dee 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px;
    @apply text-3xl font-bold capitalize
}
.nav-item{
    @apply text-2xl
}
.main-navigation {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s linear, visibility 2s linear;
}
@tailwind utilities;